torch
torchvision
gym
stable_baselines3
tqdm
numpy
torchtext
torchaudio
scipy
cikit-image
numba
wandb
tensorboard
pandas
matplotlib
seaborn
imageio
pillow
pyyaml
cloudpickle
h5py
absl-py
pyparsing
mujoco-py<2.2,>=2.1
git+https://github.com/rlworkgroup/metaworld.git@master#egg=metaworld
git+https://github.com/Farama-Foundation/d4rl@master#egg=d4rl